<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

        <h3>Active Users</h3>
        <li
        class="list-group-item"
        *ngFor="let user of users; let i = index">
        <p *ngIf="user.activo">
            {{ user.name }} | <a href="#" (click)="onSetToInactive(user)">Set to Inactive</a>

        </p>
       
      </li>

      <h3>Inactive Users</h3>
      <li
      class="list-group-item"
      *ngFor="let user of users; let i = index">
      <p *ngIf="!user.activo">
          {{ user.name }} | <a href="#" (click)="onSetToActive(user)">Set to Active</a>

      </p>
  
    </li>
      
  </div>
</div>

<!--       
      <app-active-users
        [users]="activeUsers"
        (userSetToInactive)="onSetToInactive($event)"></app-active-users>
      <app-inactive-users
        [users]="inactiveUsers"
        (userSetToActive)="onSetToActive($event)"></app-inactive-users> -->

        
 
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
  
</div>
